.header{
    
    padding-top: 5px;
    text-size-adjust: bold ;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: rgb(30, 7, 241);
    background-color: rgba(127, 255, 212, 0.651);
    padding-left: 3px;
    padding-right: 3px;
    
}
#image{
    text-align: center;

}
#button{
    color: rgb(27, 233, 44);
    
}
.para1{
    font-style: oblique;
    font-weight:bolder;
    font-size: 20px;
    color: rgb(12, 12, 7);
}
.image{
    
}